/* Font */

@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap");

/* Variables */

$primary: #474787;
$secondary: #808e9b;
$info: #0fbcf9;
$success: #0be881;
$danger: #ff5252;
$warning: #ffa801;
$dark: #1e272e;
$light: #F9FAFC;
$tertiary: lighten($secondary, 35);

$theme-colors: (
  "tertiary": $tertiary
);

$font-family-base: "Gudea", "Roboto", sans-serif;
$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;

$headings-font-weight: $font-weight-bold;

$link-hover-decoration: none;

$btn-font-weight: $font-weight-bold;
$btn-padding-x: 30px;

$enable-caret: false;

/* Bootstrap */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
//@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/button-group";
//@import "node_modules/bootstrap/scss/input-group";
//@import "node_modules/bootstrap/scss/custom-forms";
//@import "node_modules/bootstrap/scss/nav";
//@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/jumbotron";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/media";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
//@import "node_modules/bootstrap/scss/print";

/* Sections */

#header {
  img {
    width: 32px;
    height: 32px;
  }
}

#main {
  padding: 150px 0;

  img {
    width: 64px;
    height: 64px;
  }

  .btn {
    text-align: center;
    width: 125px;

    > img {
      width: 32px;
      height: 32px;
      margin: map_get($spacers, 2) 0;
      opacity: 0.75;
    }

    > span {
      display: block;
      color: $primary;
    }
  }
}

#connect {
  padding: 0 0 100px;
}

#footer {
  img {
    width: 16px;
    height: 16px;
    filter: invert(1);
    margin: 4px;
    position: relative;
  }
}

header {
  display: flex;
  align-items: center;
  height: 64px;

  .title {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-left: 8px;
  }
}


.section {
  position: relative;
  background-image: linear-gradient(to right bottom, $primary, #774595, #ab3895, #da2084, #ff0066);

  .radar {
    position: absolute;
    height: 800px;
    width: 800px;
    border: 1px solid #ffffff38;
    border-radius: 50%;
    top: -280px;
    left: -280px;
    animation: rotateRadar 8s linear infinite;

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      right: 0;
      top: 50%;
      transform: translateX(50%);
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 0 5px rgba(255, 255, 255, .17);
    }
  }

  .main {
    animation: translateIn 1s cubic-bezier(0.98, -0.03, 0.13, 1.08);
    padding-top: 120px;
    color: white;

    .description {
      color: rgba(255, 255, 255, .7);
    }
  }

  .bubble {
    width: 400px;
    height: 400px;
    position: absolute;
    left: -160px;
    top: -160px;
  }

  .bubble.second {
    opacity: 0.12;
    left: -150px;
    top: -150px
  }
}

.morph {
  background-image: linear-gradient(120deg, lighten($success, 5%) 0%, $success 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 300px;
  height: 300px;
  animation: morph 10s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.morph:before,
.morph:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(lighten($success, 5%), 0.21);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgba(darken($success, 5%), 0.55) 0%, rgba(lighten($success, 5%), .89) 100%);
}

.morph:before {
  animation: morph 10s linear infinite;
  opacity: .21;
  animation-duration: 4s;
}

@keyframes morph {
  0%, 100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: .89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes translateIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rotateRadar {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.download {
  perspective-origin: center center;

  .inner {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 0 28px rgba(0, 123, 255, .1);
    color: black;
    background: white;

    img,
    span {
      transition: linear all 0.2s;
    }

    img {
      width: 34px;
      height: 34px;
    }

    span {
      margin-top: 8px;
      font-weight: bold;
      letter-spacing: 1.25px;
      text-transform: uppercase;
    }

    &.hovered {
      img {
        transform: translateZ(50px);
      }

      span {
        transform: translateZ(30px);
      }
    }

  }

  .os {
    width: 124px;
    height: 124px;
    perspective: 500px;
    position: relative;
    margin-right: 16px;
    color: inherit;
    margin-bottom: 16px;
  }
}

.dropdown button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
}

@keyframes scaleIn {
  from {
    transform: scaleY(0.4);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes shootingStarGo {
  50% {
    transform: rotateZ(135deg) translateX(-100px);
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    transform: rotateZ(135deg) translateX(900px);
  }
}

.bottom-wave {
  transition: ease-in-out all 0.2s;
  transform: scaleY(1);
  transform-origin: bottom;
  animation: scaleIn 0.8s cubic-bezier(0.98, -0.03, 0.13, 1.08);
}

.shooting-star {
  position: absolute;
  right: 20%;
  top: -20px;
  width: 60px;
  height: 2px;
  transform: rotateZ(135deg) translateX(-100px);
  background-image: linear-gradient(-45deg, white, rgba(255, 255, 255, 0));
  filter: drop-shadow(0 0 7px white);
  border-radius: 50px;
  animation: shootingStarGo 5s linear infinite;

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    transform: translate(60px, 2px);
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0px 6px rgba(255, 255, 255, .5);
  }
}
